{% extends "layout.njk" %} 
{% block head %}
<title>Homepage | {{ siteName }}</title>
{% endblock %} 
{% block content %}
<div class="container" id="main-content" tabindex="-1">
      <!-- The main page content -->
    <div class="row">
        <div class="col">
            <img src="http://placehold.it/1340x500" class="img-fluid"/>
            <h1 class="homepage-opener-h1" >Emory <span>&#187;</span> Forward</h1>
            <p class="homepage-opener-p">Annual Report of the President </p>
        </div>
    </div>
    {% include "partials/homepage-letter.njk" %}
    {% include "partials/homepage-fullwidth-image.njk" %}
    {% include "partials/homepage-content.njk" %}
    {% include "partials/homepage-grid-container.njk" %}
</div>
{% endblock %}