{% extends "layout.njk" %} 
{% block head %}
<title>Interior Page | {{ siteName }}</title>
{% endblock %} 
{% block content %}
<div class="container interior-page" id="main-content" tabindex="-1">
      <!-- The main page content -->
      {% include "partials/interior-lead-content.njk" %}
      {% include "partials/interior-content-side-bar.njk" %}
      {% include "partials/interior-fullwidth-image.njk" %}
      {% include "partials/interior-content.njk" %}
      {% include "partials/interior-article-grid.njk" %}
</div>
{% endblock %}