
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'PT Sans', serif;
}
.overflow {
    overflow: hidden;
}

//FOR ANIMATE CSS AND VIEWPORT JS
.hide-me{
    opacity:0;
}
.show-me{
    opacity:1;
}