// SITE VARIABLES
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;

// Color Object and palette tool
$palettes: (
    "primary": (
        "blue": (
            "base": #002878,
            "emory": #002878,
            "medium":  #004b97,
            "light": #007ebf
        ),
        "yellow": (
            "base": #ffb200
        ),
        "gold": (
            "base": #b17900
        )
    ),
    "secondary": (
        "cool": (
            "base": #50b7e4,
            "skyBlue": #50b7e4,
            "blue": #50b7e4,
            "teal": #327b8c,
            "kellyGreen": #00843a,
            "green": #00843a,
            "seaGreen": #00846a,
            "olive": #5b7c00
        ),
        "warm": (
            "base": #da5f00,
            "orange": #da5f00,
            "red": #da0012,
            "megenta": #d500c9,
            "purple": #7300ea,
            "grape": #6e2e69
        )
    ),
    "neutrals": (
        "gray": (
            "base":  #222222,
            "darker": mix(#222222, #c9c9c9, 66%), // #5b5b5b
            "dark": mix(#222222, #c9c9c9, 33%), // #929292
            "gray":#c9c9c9,
            "light": #d9d9d9,
            "lighter": #e9e9e9
        ),
        "white": (
            "base": #fff
        )
    )
);

@function palette($palette, $family, $tone: 'base') {
  @return map-get(map-get(map-get($palettes, $palette), $family), $tone);
}

//Sizing variables
$standard-padding: 30px; 