<footer id="footer">
    <div class="container">
        <div class="row">
                <div class="col-xs-12">
                    <nav>
                        <ul>
                            <li><a href="#">Year in Review</a></li>
                            <li><a href="#">President’s Letter</a></li>
                            <li><a href="#">Financials</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>Copyright © 2018. Emory University</div>
                </div>
            </div>
    </div>
</footer>