<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#">Year in Review</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">President’s Letter</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Financials</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright text-center">Copyright © 2018. Emory University</div>
            </div>
        </div>
    </div>
</footer>