<section>
    
    {% include "partials/homepage-grid-feature.njk" %}
    {% include "partials/homepage-grid-small-large-container.njk" %}
    {% include "partials/homepage-grid-large-small-container.njk" %}
    {% include "partials/homepage-grid-double.njk" %}
</section>