<section class="fade-in-box mt-4 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="border border-top-0 border-left-0 border-right-0 border-dark border-section-title">
                <h1 class="homepage-title m-4">Global <br class="d-none d-inline-md" /> Impact</h1>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <div class="homepage-text m-4">
                <p class="lead">The reach of Emory scholars and students knows no boundaries.</p>
                <p>From far-reaching contributions in the field and laboratory to humanitarian service and innovative new scholarship, the impact of Emory researchers and students is felt around the world every day.</p>
                <p>Whether unraveling the mysteries of infectious diseases or monitoring the impact of climate change, studying the intersections of health and human behavior or aiding sustainable economic development in Nicaragua’s coffee-growing communities, Emory is at the forefront in addressing critical global challenges.</p>
                <p>Emory researchers are solving problems on a global scale, fighting to reduce child mortality rates, vanquish parasitic diseases, and develop new vaccines to prevent infection from the Zika virus, while our students are gaining a firsthand global outlook through international internships, academic exchanges, and study abroad experiences.</p>
                <p>Not only is Emory making a difference on the global stage through engagement in science, scholarship, and service, it’s preparing students to meet the opportunities and challenges of an increasingly interconnected world. </p>
            </div>
        </div>
    </div>
</section>
