<div class="col-md-4 col-sm-12 col">
    <a target="_blank" href="http://news.emory.edu/stories/2016/06/winship_celebrates_5000th_bone_marrow_transplant_patient/campus.html">
        <div class="grid-small-image">
            <img alt="white flags" src="http://placehold.it/300x300" class="img-fluid">
        </div>
        <div class="grid-small-content">
            <h4 class="mb0 uppdercase">5,000th bone 
                <br/> marrow transplant &#160;
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </h4>
        </div>
    </a>
</div>