<div class="row no-gutters fade-in-box row-feature">
    <a name="global-zika" class="anchor"></a>
    <div class="col-md-6 col-12 align-self-center">
        <div class="grid-feature-image overflow">
            <a href="#">
                <img alt="mosquito" src="http://placehold.it/600x600" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="col-md-6 col-12  align-self-center" id="global-zika">
        
        <div class="grid-feature-content m-4 ">
            <h2 class="opener">The Front Lines of Zika</h2>
            <p>Even as the world was just learning about the Zika virus, Emory researchers were already hard at work to study and contain the mosquito-borne disease that’s been linked to an alarming rise in birth defects among babies born in northern Brazil.</p>
            <a href="#" class="btn btn-outline-primary">READ MORE</a>
        </div>
    </div>
</div>    