<div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <a target="_blank" href="http://news.emory.edu/stories/2016/06/winship_celebrates_5000th_bone_marrow_transplant_patient/campus.html">
        <div class="grid-small-image overflow">
            <img alt="white flags" src="http://placehold.it/400x400" class="img-fluid">
        </div>
        <div class="grid-small-content m-4">
            <h4 class="mb0 uppdercase">5,000th bone 
                <br/> marrow transplant &#160;
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </h4>
        </div>
    </a>
</div>