<div class="col-md-8 col-sm-12 col">
    <div class="row no-gutters">
        <div class="col-md-8 col-sm-12 col">
            <div class="grid-large-image">
                <a href="caring-and-healing-cancer.html">
                    <img src="http://placehold.it/520x520" alt="cancer lab" clas="img-fluid">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col" id="caring-and-healing-cancer">
            <a name="caring-and-healing-cancer" class="anchor"></a>
            <div class="grid-large-content m-4">
                <h4>Advances in cancer care</h4>
                <p>With the development of new drug therapies and a national reputation for innovative research, education, and patient care, Emory’s Winship Cancer Institute is changing lives.</p>
                <a href="caring-and-healing-cancer.html" class="btn btn-outline-primary">READ MORE</a>
            </div>
        </div>
    </div>
</div>

