<div class="col-lg-8 col-md-6 col-sm-12 col-12">
    <div class="row no-gutters">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 align-self-center">
            <div class="grid-large-image overflow">
                <a href="caring-and-healing-cancer.html">
                    <img src="http://placehold.it/520x520" alt="cancer lab" clas="img-fluid">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 align-self-center" id="caring-and-healing-cancer">
            <a name="caring-and-healing-cancer" class="anchor"></a>
            <div class="grid-large-content m-4">
                <h4>Advances in cancer care</h4>
                <p>With the development of new drug therapies and a national reputation for innovative research, education, and patient care, Emory’s Winship Cancer Institute is changing lives.</p>
                <a href="caring-and-healing-cancer.html" class="btn btn-outline-primary">READ MORE</a>
            </div>
        </div>
    </div>
</div>

