<section class="letter fade-in-box">
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-12 col-12 align-self-center">
            <!-- <div class=" d-md-none d-lg-none d-xl-none">
                <img src="http://placehold.it/500x233" alt="President Sterk" class="img-fluid"/>
            </div> -->
            <div class="letter-image">
                <img src="../_includes/images/sterk-400by400.jpg" alt="President Sterk" class="img-fluid"/>
            </div>
            <!-- <div class="d-none d-md-block">
                <img src="http://placehold.it/375x583" alt="President Sterk" class="img-fluid"/>
            </div> -->
        </div>
        <div class="col-md-8 col-sm-12 col-12 align-self-center">
            <div class="letter-box m-4">
                <h1 class="president-h1">Letter from Emory University President Claire E. Sterk</h1>
                <h3>A Remarkable Year</h3>
                <p>Reflecting its standing as a top research university, Emory competes to offer the best education, conduct game-changing research, inspire creative innovations, and transform the world.</p>
                <p>Emory is a place that is called upon for answers to the most challenging and complicated questions of our day. . . . This annual report looks back over the past year, highlighting the ways in which Emory has approached and offered solutions to those questions. It shares the stories of Emory’s global and local impact, of creating knowledge and educating the next generation, of transforming society, and of caring and healing.</p>
                <p>With the right people aligned behind a common purpose, we will forge a future worthy of our ambition to answer challenging questions through the pursuit of knowledge.</p>
                <a href="#" class="btn btn-outline-primary">READ MORE</a>
            </div>      
        </div>
    </div>
</section>
