<div class="row no-gutters fade-in-box">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="grid-double-container" id="rose">
            <a name="rose" class="anchor"></a>
            <div class="grid-double-image overflow">
                <a href="creating-knowledge-rose-library-acquisitions.html">
                    <img alt="film slides of brain scans" src="http://placehold.it/570x240" class="img-fluid">
                </a>
            </div>
            <div class="grid-double-content m-4">
                <p>Emory's 
                    <strong>Stuart A. Rose Manuscript, Archives, and Rare Book Library</strong> offers a treasure trove for researchers, adding multiple collections during the past year.
                </p>
                <a href="creating-knowledge-rose-library-acquisitions.html" class="btn btn-outline-primary">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="grid-double-container" id="creating-knowledge-depression">
            <a name="creating-knowledge-depression" class="anchor"></a>
            <div class="grid-double-image overflow">
                <a target="_blank" href="creating-knowledge-inflammation-and-depression.html">
                    <img alt="man suffering from depression" src="http://placehold.it/570x240" class="img-fluid">
                </a>
            </div>
            <div class="grid-double-content m-4">
                <p>Inflammation linked to 
                    <strong>weakened reward circuits in depression</strong>
                </p>
                <a target="_blank" href="creating-knowledge-inflammation-and-depression.html" class="btn btn-outline-primary">READ MORE</a>
            </div>
        </div>        
    </div>
</div>