<section>
    <div class="row no-gutters fade-in-box">
        <div class="col-md-6 col-sm-12 col">
            <div class="article-grid-image">
                <a href="http://news.emory.edu/stories/2016/03/anticancer_cluster_bombs/campus.html">
                    <img alt="graphic depicting a cluster bomb" src="http://placehold.it/577x277">
                </a>
            </div>
        </div>    
        <div class="col-md-6 col-sm-12 col">
            <div class="article-grid-content m-4">
                <h3  class="article-grid-title">'Cluster-bombing' cancer cells</h3>
                <p>Researchers have devised a triple-stage 'cluster-bombing' system for delivering the chemotherapy drug cisplatin via tiny nanoparticles designed to break up when they reach a tumor.</p>
                <a class="btn btn-outline-primary" href="http://news.emory.edu/stories/2016/03/anticancer_cluster_bombs/campus.html" target="_blank">Learn more</a>
            </div>
        </div>
    </div>
    <div class="row no-gutters fade-in-box">
        <div class="col-md-6 col-sm-12 col order-sm-2 order-md-1">
            <div class="article-grid-content m-4">
                <h3 class="article-grid-title">Alzheimer’s advances</h3>
                <p>Studies show the abnormal foldings of proteins related to neurogenerative conditions such as Alzheimer’s disease may help explain how life may emerge from a chemical system.</p>
                <a class="btn btn-outline-primary" href="http://news.emory.edu/stories/2017/02/esc_protein_misfolding_neurodegenerative_conditions/campus.html" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col order-sm-1 order-md-2">
            <div class="article-grid-image">
                <a href="http://news.emory.edu/stories/2017/02/esc_protein_misfolding_neurodegenerative_conditions/campus.html">
                    <img alt="graphical representation of alzheimers" src="http://placehold.it/577x277">
                </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters fade-in-box">
        <div class="col-md-6 col-sm-12 col">
            <div class="article-grid-image">
                <a href="http://news.emory.edu/stories/2016/03/anticancer_cluster_bombs/campus.html">
                    <img alt="graphic depicting a cluster bomb" src="http://placehold.it/577x277">
                </a>
            </div>
        </div>    
        <div class="col-md-6 col-sm-12 col">
            <div class="article-grid-content m-4">
                <h3  class="article-grid-title">'Cluster-bombing' cancer cells</h3>
                <p>Researchers have devised a triple-stage 'cluster-bombing' system for delivering the chemotherapy drug cisplatin via tiny nanoparticles designed to break up when they reach a tumor.</p>
                <a class="btn btn-outline-primary" href="http://news.emory.edu/stories/2016/03/anticancer_cluster_bombs/campus.html" target="_blank">Learn more</a>
            </div>
        </div>
    </div>
    <div class="row no-gutters fade-in-box">
        <div class="col-md-6 col-sm-12 col order-sm-2 order-md-1">
            <div class="article-grid-content m-4">
                <h3 class="article-grid-title">Alzheimer’s advances</h3>
                <p>Studies show the abnormal foldings of proteins related to neurogenerative conditions such as Alzheimer’s disease may help explain how life may emerge from a chemical system.</p>
                <a class="btn btn-outline-primary" href="http://news.emory.edu/stories/2017/02/esc_protein_misfolding_neurodegenerative_conditions/campus.html" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col order-sm-1 order-md-2">
            <div class="article-grid-image">
                <a href="http://news.emory.edu/stories/2017/02/esc_protein_misfolding_neurodegenerative_conditions/campus.html">
                    <img alt="graphical representation of alzheimers" src="http://placehold.it/577x277">
                </a>
            </div>
        </div>
    </div>
</section>
