<section class="fade-in-box mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <h2 class="centered">Success propels research momentum</h2>
            <div class="row justify-content-center">    
                <div class="section-text col-11 col-md-10">
                    <p>As the partnership has grown stronger, so have both institutions’ ability to attract top faculty and research talents. With external support by the Georgia Research Alliance (GRA), the schools also have recruited GRA Eminent Scholars and leveraged GRA support to attract joint federal funding in infectious diseases, vaccines, nanotechnology, cancer, cardiology, and pediatrics.</p>
                    <p>With success has come momentum. Today, the biomedical program is among more than a dozen 
                        <a href="http://www.emory.edu/home/research/centers-partners/georgia-tech.html" target="_blank">joint centers and initiatives</a> that engage both universities with research ranging from translational science, immune-engineering, and nanobiology to predictive health, regenerative engineering, and malaria studies.
                    </p>
                    <p>It’s a relationship that has created opportunities for unusual collaborations that address challenges that lie at the intersection of engineering and medicine.</p>
                    <p>Here is a sample of the projects researchers at Emory and Georgia Tech have collaborated on in the last year:</p>
                </div>
            </div>
        </div>
    </div>
</section>
