<section class="fade-in-box mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <h2 class="centered">Emory-Georgia Tech partnership fuels an engine of innovation</h2>
        </div> 
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-11 order-md-2 order-sm-1">
            <div class="section-text">
                <p class="lead">By many measures, it’s an uncommon collaboration. But it’s also a smart one.</p>
                <p>Emory University and the Georgia Institute of Technology have long established their own niches within Atlanta’s educational landscape. Emory is a world-class private liberal arts research university with noted strengths in health care. Georgia Tech has equally solid credentials as a technical institute and public research university widely recognized for its engineering sciences.</p>
                <p>Together, they’ve created 
                    <a href="https://www.bme.gatech.edu/" target="_blank">the Wallace H. Coulter Department of Biomedical Engineering</a>, one of the few such joint departments in the country and a vibrant educational partnership that is pushing boundaries and contributing to breakthroughs actively shaping the future of Georgia, the nation, and the world.
                </p>
                <p>Call it a success story forged by complementary core strengths.</p>
                <p>For nearly 30 years, Emory medical researchers and Georgia Tech engineers have worked together to support a program that has produced hundreds of graduates who are unlocking a trove of medical advances and innovations through fearless problem solving.</p>
                <p>Last fall, the biomedical undergraduate program was ranked No. 1 in the nation by 
                    <i>US News &amp; World Report</i>; the graduate program is currently tied with Stanford at No. 3. Through unique programs, undergraduate students are able to engage actively in lab research while graduate students find hands-on opportunities to develop innovative, marketable advances in healing.
                </p>
                <p>Clinical expertise from the Emory School of Medicine and engineering expertise from Georgia Tech’s College of Engineering have combined to propel an array of interdisciplinary research projects in areas that include predictive health, regenerative engineering and medicine, nursing, ophthalmology, gerontology, public health, information technology, law, chemistry, and psychology.</p>
            </div>
        </div>
        <div class="col-md-4 col-11 order-md-1 order-sm-2">
                <aside class="aside">
                    <div class="text-left">
                        <div class="video-box mb-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u0WYMoa2PA8?wmode=transparent&rel=0&showinfo=0&enablejsapi=1&rel=0"></iframe>
                            </div>
                            <p class="m-2 m-lg-3">Emory University Project Manager Felicia Bianchi discusses the partnership between Georgia Tech and Emory for the Library Service Center.</p>
                        </div>
                        <div class="image-box mb-4">
                            <img src="http://placehold.it/550x367" alt="Driffin and Armstrong" class="img-fluid">
                            <p class="m-2 m-lg-3">Emory professor Wendy Armstrong and Atlanta activist Daniel Driffin, shown here outside the Ponce Center in Midtown Atlanta, serve as cochairs of the Fulton County Task Force on HIV/AIDS.</p>
                        </div>
                    </div>
                </aside> 
            </div>
    </div>
</section>
