<section class="fade-in-box mt-4 return-bar">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-12">
                    <div class="report-name p-3">Emory <span>»</span> Forward</div>
            </div>
            <div class="col-md-6 col-12 text-md-right align-self-center">
                <a class="return-link p-2" href="homepage.html">Return to SECTION &#187;</a>
            </div>
        </div>
    </div>
</section>
